<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.0">
  <actions/>
    <description>&#xd;
    &#xd;
This deployment pipeline is to be used by client. Provided with solution specific parameters it will generate solution specific deployment pipeline which is aware of the deployment tools created during client onboarding to Go Cloud OpenShift.&#xd;
&#xd;
Mandatory Parameters Required for Deployment:&#xd;
&#xd;
--&gt; Client Application ID&#xd;
--&gt; Client Application Name&#xd;
--&gt; Client Application Acronym&#xd;
--&gt; Application Source Code Repository URL&#xd;
&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.0">
    <script>

</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>
